body {
    background-color: cyan;
}
h3 {
    color: rgb(6, 5, 6);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    border-color: rgb(7, 10, 9);
    border-style:solid;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: rgba(27, 34, 34, 0.303);
}
.Espacio {
    color: rgb(6, 5, 6);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-color: rgb(7, 10, 9);
    border-style:solid;
    width: 50%;
    margin-bottom: 5%;
    margin-left: 25%;
    background-color: rgba(0, 0, 0, 0.425);
    text-align: center;
    
}
div {
    width: 50%;
    height: 500px;
    background-color: rgb(109, 118, 118);
    display: inline-block;
    border: dashed,4px,black;
    margin-left: 25%;
    margin-top: 5%;
}
